.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;

    position: relative;
    overflow: hidden;

    background: linear-gradient(135deg, #4a90e2, #7b61ff);
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(135deg, #111827, #312e81);
    opacity: 0;

    transition: opacity 0.8s ease;
    z-index: 0;
}

.profile-card {
    position: relative;
    z-index: 1;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px;
}

.section {
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 16px;
}
.section h2{
    margin-top: 0;
    padding-left: 12px;
}
.section h3{
    margin-top: 0;
}

.work {
    padding-left: 16px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .hero {
        min-height: auto;
        padding: 180px 20px 80px;
    }

    main {
        padding: 40px 16px;
    }

    .section {
        padding: 24px 20px;
        margin-bottom: 24px;
    }

    .section h2 {
        font-size: 24px;
    }
}