.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px;
}

.section {
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 16px;
}
.section h2{
    margin-top: 0;
    padding-left: 12px;
}
.section h3{
    margin-top: 0;
}

.work {
    padding-left: 16px;
    margin-bottom: 20px;
}